.recipe-book-page-title-wrapper {
  margin-top: 40px;
  text-align: center;
}

.recipe-book-page-title {
  font-size: 22px;
  font-weight: 500;
}

.recipe-book-desc {
  font-size: 13px;
  color: #969696;
  margin-top: 23px;
}

.recipe-books {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 최소 280px, 가능한만큼 늘어남 */
  gap: 30px;
  justify-items: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  margin: 80px 50px;
}

.recipe-book-background {
  cursor: pointer;
  display: block;
  width: 202px;
  height: 296px;
  position: relative;
  background: white;
  /* background: rgb(225, 225, 225); */
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: box-shadow .3s linear;
  border-radius: 5px
}

.recipe-book {
  background-color: white;
  /* background-color: #FFF9F6; */
  width: inherit;
  height: inherit;
  transform-origin: 0 50%;
  transform: rotateY(0);
  transition: all .45s ease;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: #cdcdcd 0.5px solid;
}

.recipe-book-img {
  width: 201px;
  height: 114px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.recipe-book-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-book-title-wrapper {
  padding: 0 20px;
}

.recipe-book-title-wrapper p {
  text-align: left;
}

.recipe-book-title {
  font-size: 15px;
  color: #414141;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recipe-book-info {
  font-size: 12px;
  color: #666666;
  display: flex;
  margin-top: 8px;
}

.recipe-book-info-division {
  margin: 0 5px;
}


.recipe-book-background:hover {
  box-shadow: 0 2px 4px 0 rgba(#000, .25), 0 9px 20px 0 rgba(#000, .45);
  .recipe-book {
    transform: rotateY(-20deg);
    box-shadow: 1px 1px 5px 5px rgba(#000, .2);
  }
}

.recipe-book-background::after,
.recipe-book-background::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: #cdcdcd 0.5px solid;
}

.recipe-book-background::before { left: -3px; }
.recipe-book-background::after { left: -6px; }