/* .classlist-container {

} */

.classlist-list {
  display: flex;
  align-items: start;
}

.classlist-list img {
  width: 150px; 
  height: 150px;
  border-radius: 180px;
  flex-shrink : 0;
  margin-top: 70px;
  margin-right: 20px;
}

.classlist-list .describe {
  flex-grow: 1;
}

.describe {
  border-radius: 7px;
  border: 0.7px solid #D9D9D9;
  margin-top: 60px;
  height: 187px;
  display: flex;
  flex-direction: column;
}

.describe .row {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0;
}

.describe .row:last-child {
  border-bottom: none;
}

.describe .row .col1 {
  flex: 0 0 30%;
  text-align: center;
  border-right: 1px solid #e0e0e0;
  padding-right: 10px;
}

.describe .row .col2 {
  text-align: left;
  flex: 1;
}

.button {
  flex: 0 0 auto;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  border-radius: 50px;
  border: 0.7px solid #CBCBCB;
  background: #FFF;
  margin: 0 auto;
  margin-right: 8px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.button.orange {
  border-radius: 50px;
  border: 0.7px solid #FF7A42;
  background: #FFF4F0;
  color: #FF7A42;
}