.category {
  border: 1px solid black;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  display: inline-block; /* div 태그가 글자 길이에 맞추어짐 */
  white-space: nowrap; /* 글자가 한 줄에 모두 보이도록 설정 */
}

.selected {
  background-color: #ff950063;
}
