.appTitle {
    color: #FF7A42;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    font-size: 5.1rem;
    font-weight: 900;
    margin: 1rem 0;

}

.appContent {
    display : flex;
    flex-direction: column;
    align-items: center;  
    padding: 8rem 0 19rem 0;   
}

.appText {
    color: #444;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal; 
}

.appText:first-of-type {
    display: flex;
}

.animation-container {
    opacity: 0;
    animation: fadeInAnimation 2s ease forwards;
}
  
@keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.appTitle {
    animation: fadeInText 2s ease forwards;
}
  
@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}