.navbar {
  background-color: #ffffff;
  padding: 0.9rem 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* width: 10rem; */
  height: 1.2rem;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color : #656363;
  font-size: 0.9rem;
  font-weight: 4000;
}
a:not(:first-of-type) {  
  margin-left: 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-cookyer {
  display: flex;
  font-size: 0.9rem;
}

.nav-user {
  margin-left: 2rem;
  
}

.drop-btn {
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  font-size: medium; 
  color : #656363;
}

