.recipe_container {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.recipe_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe_view {
  flex: 1;
  max-width: 350px;
  background-color: #f9e3c6;
  border-radius: 8px;
  padding: 20px;
}

.recipe_crop {
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.recipe_thumb img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.recipe_down {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.recipe_logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.recipe_down span {
  font-size: 16px;
}

/* .recipenav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 50px;
}

.recipenav select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */

.recipe {
  margin-top: 20px;
}

.recipe img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipe div {
  margin-bottom: 5px;
}
