.mainSearch-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchBar {
    border: none;
    background-color: #EFEFEF;
    border-radius: 0 0.3rem 0.3rem 0;
    padding: 0.6rem 9rem 0.6rem 0.7rem;
    font-size: 0.9rem;  
}

.searchBar::placeholder {
    color: #b5b2b2; /* placeholder 텍스트 색상 설정 */
  }

.mainSearchContainer {
    margin-left: 2rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
}

.mainSearchIcon {
    font-size: 1.5rem;
    color: #656363;
}