.mainSearch-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchBar {
    border: none;
    background-color: #EFEFEF;
    border-radius: 0 0.3rem 0.3rem 0;
    padding: 0.6rem 9rem 0.6rem 0.7rem;
    font-size: 0.9rem;  
    transition: padding 0.3s ease; /* 부드러운 애니메이션 효과 추가 
}

.searchBar::placeholder {
    color: #b5b2b2; /* placeholder 텍스트 색상 설정 */
  }

.mainSearchContainer {
    margin-left: 2rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
}

.mainSearchIcon {
    font-size: 1.5rem;
    color: #656363;
}

@media screen and (max-width: 1339px) {
    .searchBar {
      padding: 0.6rem 5rem 0.6rem 0.7rem; /* 화면 크기가 768px 미만일 때 padding 값을 조정 */
    }
}

@media screen and (max-width: 768px) {
    .mainSearchContainer {
      display: none;
    }
}