
.Side {
  display: flex;
  flex-direction: column;
  width: 200px; 
  background-color: #f2d694; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}


.sidebar_items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-item {
  padding: 8px;
  text-align: center; 
}

.side-item a {
  text-decoration: none;
  color: #000; 
  font-weight: bold;
}

.side-item a:hover {
  background-color: #fcc367; 
  border-radius: 5px; 
}


.side-item a.active {
  background-color: #f8d47f; 
  color: #fff; 
}