.InputChatContainerCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatroom-container {
  display: flex;
}

.ChatListContainer {
  flex: 1;
}

.chat-room-content {
  flex: 3;
}

.ChatSpace {
  border-right: 0.7px solid #D9D9D9;
}

.Emptychat {
  margin-left: 40px;
  margin-top: 40px;
  font-size: 1rem;
  color : #656363;
}
