.category {
  flex: 0 0 auto;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 13px;
  border-radius: 50px;
  border: 0.7px solid #CBCBCB;
  background: #FFF;
  margin-right: 8px;
  cursor: pointer;
  color: #666;
  transition: background-color 0.3s, color 0.3s;
}

.category.selected {
  border-radius: 50px;
  border: 0.7px solid #FF7A42;
  background: #FFF4F0;
  color: #FF7A42;
}