/* 전체 페이지 컨테이너 스타일 */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 회원가입 헤더 스타일 */
.signup-header {
  text-align: center;
  font-size: 23px;
  margin-top: 60px;
  margin-bottom: 10px;
}

/* 회원가입 설명 스타일 */
.signup-description {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

/* 사용자 유형 컨테이너 스타일 */
.user-type-container-wrapper {
  /* height: 420px; */
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
}
.emoji {
  font-size: 60px;
  margin-top: 20px;
}
.user-type-container {
  display: flex;
  flex-direction: row; /* 가로로 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
}

/* 사용자 유형 카드 스타일 */
.user-type {
  height: 250px;
  text-align: center;
  border: 1px solid #ccc;
  /* font-size: 15px; */
  padding: 10px;
  width: 280px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  border-radius: 20px;
  margin: 0 40px; /* 상하로 10px 간격을 주기 위해 margin 추가 */
}

.user-type:hover {
  background-color: #fff2ed;
  border: 1px solid rgb(255, 213, 195);
}

.user-type.active {
  background-color: #ffdec6;
  font-weight: 500;
}

/* 사용자 이름 스타일 */
.user-name {
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 8px;
  color: rgb(255, 77, 0);
}

/* 텍스트 가운데 정렬 스타일 */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 10px;
}

/* 설명 텍스트 스타일 */
.description {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.signup-button {  
  display: flex;
  width: 250px;
  height: 40px;
  padding: 15px 94px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #FF7A42;
  color: #FFFDFD;
  margin: 0 auto;
  font-size: 13px;
}

.signup-button:hover {
  background-color: #FF6060;
}

.view {
  height: 560px;
}