.applyLessonContainer{
    border-radius: 7px;
    border: 0.7px solid #D9D9D9;
    background: #FFF;
    margin-bottom: 10px;
    padding: 2rem; /* 좌우 여백 추가 */
}

.applyLessonPrice{
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    color: #404040;
}

.applyLessonApplyButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* 원하는 여백을 추가하세요 */
}
  
.applyLessonApplyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 6.6rem;
    border-radius: 3px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background: #FF7A42;
    color: #FFFDFD;
    margin-bottom: 0.9rem;
}
.applyLessonApplyButton.disabled {
    background-color: gray;
    cursor: not-allowed;
    color : #FFF;
  }
.applyLessonApplyButton:hover {
    background-color: #fd621f;
}
.applyLessonApplyButton:hover.disabled {
    background-color: gray;
}
.applyLessonVideoUrl{
    text-align: center;
    margin-top: 15px;
}
.applyLessonVideoUrl a{
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
.disableMsg {
    font-size: 0.9rem;
    color: #666;
}

.apply-complete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    width: 350px;
    height: 450px;
    z-index: 2;
    animation: modalFadeIn 0.2s;
}

.apply-complete-contents {
    width: 263px;
    height: 160px;
    margin: 40px auto 30px;
    padding: 20px;
}

.apply-complete-content {
    display: flex;
}

.apply-complete-content p {
    font-size: 15px;
}

.apply-complete-title {
    width: 63px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.apply-complete-info {
    width: 154px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}