.star-rating {
  display: flex;
  align-items: center;
  font-size: 24px; 
  color: #f39c12; 
}

.star-icon {
  margin-right: 3px; 
}

.filled {
  color: #f39c12; 
}

.half-filled {
  position: relative;
  color: #f39c12; 
}

.half-filled:after {
  content: '\f089'; 
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  color: inherit;
}


