.introduceLessonContainer {
    text-align: left; /* 내용을 왼쪽 정렬로 설정 */
    margin-top: 40px; /* 내용 위쪽 여백 추가 */
}

.introduceLessonTitle {
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-weight: 500;
    color:#414141;
}

.introduceLessonDescription {
    font-size: 0.9rem;
    margin-bottom: 50px;
    color:#474646;
}

.introduceLessonMateTitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 13px;
    color:#414141;
}

.introduceLessonMateDesc {
    font-size: 0.9rem;
    margin-bottom: 9px;
    color:#474646;
}

.introduceLessonMateItems {
    font-size: 0.9rem;
    margin-bottom: 50px;
    color:#474646;
}

.introduceLessonMateItem {
    font-size: 0.9rem;
    margin-bottom: 7px;
    color:#474646;
}
