.introduceLessonContainer {
    text-align: left; /* 내용을 왼쪽 정렬로 설정 */
    margin-top: 40px; /* 내용 위쪽 여백 추가 */
}

.introduceLessonTitle {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
}

.introduceLessonDifficulty {
    display: inline-block;
    width: auto;
    padding: 5px 20px 7px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #CBCBCB;
    background: #FFF;
    color: #656363;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 25px;
}

.introduceLessonDescription {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.introduceLessonMateTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 13px;
}

.introduceLessonMateDesc {
    font-size: 14px;
    margin-bottom: 9px;
}

.introduceLessonMateItems {
    font-size: 14px;
    margin-bottom: 50px;
}

.introduceLessonMateItem {
    font-size: 14px;
    margin-bottom: 7px;
}
