.lessonListContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 최소 280px, 가능한만큼 늘어남 */
    gap: 30px;
    justify-items: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 150px;
}
  
.lessonItemContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}