.lessonDetailContainer {
    display: flex;
}
  
.detailLeftSection {
    flex: 2; /* 왼쪽 섹션이 남은 공간을 모두 차지 */
    padding: 10px; /* 좌우 여백 */
    margin-top: 10px;
    align-items: start;
}

.detailLeftSection hr {
    background-color: #d8d8d8;
    height: 0.5px;
    border: none;
    margin: 20px 0;
}

.detailCategoryContainer{
    text-align: left;
}

.detailCategory{
    display: inline-block;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-right: 10px;
    padding: 6px 12px;
    border-style: none;
    border-radius: 5px;
    background: #F4F4F4;
    color: #656363;
    font-size: 12px;
}

.detailLessonTitle{
    text-align: left;
    font-size: 1.7rem;
    font-weight: 600;
    color: #414141;
}

.detailThumbnail{
    width: 550px;
    height: 280px;
    object-fit: cover;
}

.detailRightSection {
    flex: 1; /* 오른쪽 섹션 크기 고정 */
    padding: 10px; /* 좌우 여백 */
    margin-left: 10px;
    margin-top: 50px;
}
  