.lessonSortSelect {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 0.7px solid #D9D9D9;
    background: #FFFFFF00;
    padding-left: 20px;
    font-size: 0.9rem;
    color: #4b4b4b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 1;
}

.sort-icon {
    position: absolute;
    left : 7.7rem;
    color: #4b4b4b;
}

.lessonSortSelectContainer {
    display: flex;
    align-items: center;    
}

.lessonDeadlineContainer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.lessonDeadlineCheckbox {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}
.lessonDeadlineCheckbox:checked::before {
    content: '\2713';
    margin: -1px;
    width: 14px;
    height: 14px;
    font-size: 10px;
    color: #fff;
    background-color: #FF7A42;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lessonDeadlineLabel {
    font-size: 0.9rem;
    color: #4b4b4b;
    cursor: pointer;
}
