.lessonItem{
    width: 100%;
    box-sizing: border-box; /* 내부 여백과 테두리를 포함한 전체 너비 설정 */
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumbnail{
    margin: 0 auto; /* 가운데 정렬 */
    width: 100%;
    height: 147px;
    border-radius: 5px;
}

.datename{
    margin-bottom: 20px;
}

.categoryBadge{
    display: flex;
    width: 71px;
    height: 35px;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 5px;
    background: #F4F4F4;
}

.messageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

