.lessonInfoDatePicker {
    width: 150px;
    height: 35px;
    flex-shrink: 0;
    font-size: 12px;
    border-radius: 7px;
    border: 0.7px solid #D9D9D9;
    background: #FFF;
    padding-left: 15px;
    cursor: pointer;
}
.date-pick-err{
    color: red;
    font-size: 10px;
}