.review-container {
  overflow: hidden;
  border-radius: 3px;
  margin-top: 3rem;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.review-title {
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #414141;
  margin: 0;
}

.review-star {
  margin-right: 15px;
  margin-top: 3px;
}

.review-avg-container {
  display: flex;
  align-items: center;
}

.review-avg {
  font-weight: bold;
  font-size: 20px;
  color: #ee8331;
  margin: 0;
  margin-right: 15px;
}

.review-cnt {
  font-size: 14px;
  color: #ee8331;
}

.review-list {
  overflow-y: auto;
  height: 300px;

  padding-right: 10px; /* 오른쪽에 스크롤이 생길 때 내용이 가려지는 것을 방지 */
}

.review-list::-webkit-scrollbar {
  width: 10px; /* 스크롤 바 너비 조절 */
}

.review-list::-webkit-scrollbar-thumb {
  background-color: #d3cec7; /* 스크롤 바 색상 */
  border-radius: 4px; /* 스크롤 바 모서리를 둥글게 */
}

.review-list::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤 바 트랙 색상 */
}

.review-item {
  margin-bottom: 1rem;
  border-bottom: 0.7px solid #d9d9d9;
  padding-bottom: 0.5rem;
}

.review-content {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: #414141;
}

.review-nickname {
  font-size: 0.9rem;
  color: #6f6f6f;
}

.no-reviews {
  font-size: 14px;
  color: #777;
  text-align: center;
  margin-top: 2rem;
}
