.registerLessonTitleContainer{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: center; /* 수평 가운데 정렬 */
    /*justify-content: center; /* 수직 가운데 정렬 */
}

.registerLessonTitle{
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    margin-right: 100px;
}