.searchContainer{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* 컨테이너의 높이 설정 */
}

.categorySelect{
    height: 50px;
    border: 1px solid #FF7A42;
    border-right: none;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0px 8px 24px 0px #FFF7F5;
    color: #FF7A42;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.categorySelect:focus {
    outline: none; /* 선택됐을 때의 기본 외곽선 제거 */
    border-color: #FF7A42; /* 선택됐을 때의 border 색상 설정 */
  }

.inputContainer{
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #FF7A42;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 8px 24px 0px #FFF7F5;
}

.searchInput{
    padding-left: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.searchInput::placeholder {
    color: #FFC6B1; /* placeholder 텍스트 색상 설정 */
  }

.searchIcon{
    font-size: 21px;
    padding-right: 10px;
    color: #FF7A42;
}