.title{
    color: #404040;
    text-align: center;
    font-size: 23px;
    font-style: bold;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
}

.desc{
    color: #666;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lessonsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contentContainer {
    display: flex;
}
  
.mainContent {
    flex: 1;
}
  
.sidebar {
    width: 300px; /* 오른쪽에 고정할 컴포넌트의 너비 */
    padding-left: 20px;
    position: fixed;
    top: 270px; /* 필요에 따라 조절하여 원하는 위치에 고정 */
    right: -70px;
}
  