.total-lesson-title {
    color: #404040;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 40px;
}

.desc{
    color: #666;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.lessonsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contentContainer {
    display: flex;
}
  
.mainContent {
    flex: 1;
}  

.lessonSidebar {
    position: fixed;
    margin-top: 140px;
    margin-left: 1070px;
}