* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

iframe {
  display: none;
}

.container {
  padding: 4.3rem 15rem;
}

@media screen and (max-width: 1350px) {
  .container {
    padding: 4.3rem 8rem;
  }
}

/* @media screen and (max-width: 1000px) {
  .container {
    padding: 0 7rem;
  }
} */

@media screen and (max-width: 646px) {
  .container {
    padding: 4.3rem 3rem; /* 화면 크기가 768px 미만일 때 padding 값을 조정 */
  }
}