@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url('./style/fonts/NotoSansKR-Light.otf') format('woff2'),
    url('./style/fonts/NotoSansKR-Light.otf') format('woff'),
    url('./style/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('./style/fonts/NotoSansKR-Regular.otf') format('woff2'),
    url('./style/fonts/NotoSansKR-Regular.otf') format('woff'),
    url('./style/fonts/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('style/fonts/NotoSansKR-Medium.otf') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  src: url('./style/fonts/NotoSansKR-Bold.otf') format('woff2'),
    url('./style/fonts/NotoSansKR-Bold.otf') format('woff'),
    url('./style/fonts/NotoSansKR-Bold.otf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

iframe {
  display: none;
}
