.function-sub-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #FF7A42;
}

.function-title {
    font-weight: 500;
    font-size: 2.5rem;
    /* color: #FF7A42; */
    text-align: left;
    margin: 1rem 0;
}

.coreSubTitle {
  font-size: 1.3rem;
  font-weight: 500;
  color: #FF7A42;
}

.coreTitle {
    font-weight: 500;
    font-size: 1.7rem;
    /* color: #FF7A42; */
    text-align: left;
    margin: 1rem 0;
}

.coreDescription {
    text-align: left;
    font-size : 1.3rem;
    color : #6B7684;
}

.coreWrap {
    opacity: 0; /* 처음에는 숨겨진 상태로 시작 */  
  }

.coreContainer > :nth-child(1) {
  margin: 15rem 0 0rem 0;   
}

.coreContainer > :nth-child(2) {
  margin: 10rem 0 18rem 0;   
}

.coreContainer > :nth-child(3) {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}
  
.visible {
    animation: scrollAnimation 2s ease forwards;
}

.core-img {
  width: 25rem;
}

.core-img-wrap {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;  
  opacity: 0;
}

.core-wrap-wrap {
  display: flex;
  margin: 19rem 0;
  align-items: flex-end;
  justify-content: space-between;
}
  
@keyframes scrollAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}