.coreTitle {
    font-weight: 500;
    font-size: 1.7rem;
    /* color: #FF7A42; */
    text-align: left;
    margin: 1rem 0;
}

.coreDescription {
    text-align: left;
    font-size : 1.3rem;
    color : #6B7684;
}

.coreWrap {
    margin: 25rem 0;
    opacity: 0; /* 처음에는 숨겨진 상태로 시작 */
    
  }

.coreWep :first-of-type {
    margin-top: 3rem;
}

.coreContainer > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}
  
.visible {
    animation: scrollAnimation 2s ease forwards;
}
  
@keyframes scrollAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}